<div class="container-fluid ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: What is a template?</a>
              </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>A template is a complete package that is deployable to any standard Web server.

A single template usually contains multiple pages with various types of functionality. A template contains a broad set of features, whereas a snippet generally demonstrates a single feature. Templates usually maintain there own CSS and JavaScript asset files, except for those assets that are hosted on an external CDN. </p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: What is the size of the bundle?</a>
              </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>The free bundle is ~64 MB and the premium (ultimate) bundle is ~133 MB.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: What's the difference between a "template" and a "theme"?</a>
              </h4>
            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>The term "Theme" is overused, and often mistaken for a working "Template". There are numerous
theme Websites that in fact market working templates and not just a "Theme". In this context, a Theme is only the style layer or "skin". A theme is defined by a CSS (LESS or SASS) stylesheet
that is designed for use withing a snippet or template. "Templates" are often used to demonstrate
"Themes".</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: What's the difference between a "template" and a "snippet"?</a>
              </h4>
            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>A template contains a broad set of features, whereas a snippet generally demonstrates a single feature. A "snippet" may demonstrate any type of functionality, but usually with a singular purpose.
This includes anything from a few simple lines of HTML, to a complete working component such as the AngularJS ToDo MVC example. As a general rule, snippets do not contain multi-page or templating features. Additionally, snippets assets (images and require css/js dependencies) are referenced from an external location, usually from a CDN (ie; MaxCDN or JSCDN) since these are optimized for performance and host many common
libaries and microframeworks.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: Are you bundling free software and selling it?</a>
              </h4>
            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>The free bundle contains some the best offerings that are currently available for the latest Bootstrap 3 (yes, goodbye 2.x). We've brought them all together in a single bundle as fully integrated, working components.
<br><br>
The premium bundle includes even more components and integrated examples. Additionally it contains a collection of premium templates and examples that are exclusive to BootBundle, and are not freely available elsewhere. These exclusing templates compare to those being sold at a higher cost on theme marketplaces such as ThemeForest and WrapBootsrap. When you buy any premium offering, you're buying the service and maintainence that goes along with it. BootBundle is no exception. While you can find and download many of the BootBundle components individually, you won't find integrated examples that bring all together.
<br><br>
Finding the latest and greatest stuff is not a trivial task, not to mention organizing it and maintaining it. The service we provide keeps the entire bundle up-to-date. There is a considerable level of cost and effort involved with maintaining BootBundle. Many open source projects are abandoned. That's why we're commited to monitoring all of the bundle components. As components are released and updated, a new BootBundle is released periodically.
</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: 
What is the license?</a>
              </h4>
            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>Each component (unit in the bundle) has it's own license terms. Most are MIT, CC and GNU Public.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: How frequently is there a new release?</a>
              </h4>
            </div>
            <div id="question8" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>In short, it depends. BootBundle will be re-released when a significant number of components change and release new features.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: How do I get my download?</a>
              </h4>
            </div>
            <div id="question9" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>Downloads are made available via the SendOwl Digital Goods Service.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: How can I download the bundle again?</a>
              </h4>
            </div>
            <div id="question10" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>Yes, you can download the up to 3 times per month. After a month you''ll need to contact us to obtain a new download link.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: Do you provide support?</a>
              </h4>
            </div>
            <div id="question11" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>Support is provided on the bundle as a whole, and downloading it. <a href="#" data-target="#modalContact" data-toggle="modal">Just contact us</a>. However, bundle components are supported by their individual author / creator.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: Will I get future updates?</a>
              </h4>
            </div>
            <div id="question12" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>You will get notified of any updates for the specific bundle you've downloaded/purchased. Updates on the premium bundle are free for 1 year including all minor releases. For major version releases (eg. when Bootstrap 4 is released) there will be a lesser cost upgrade option.</p>
              </div>
            </div>
          </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question13">
              <h4 class="panel-title">
                    <a href="#" class="ing">Q: How does the affiliate program work?</a>
              </h4>
            </div>
            <div id="question13" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                    <h5><span class="label label-primary">{{{__ "Answer"}}}</span></h5>
                    <p>Affiliates earn 15% of sales referred to BootBundle purchases. You can sign-up for our affiliate program <a href="https://www.sendowl.com/programs/7077/join/969c04f1b7">here at SendOwl</a></p>
              </div>
            </div>
          </div><!--/panel-->
    </div><!--/panel-group-->
</div>