		 <div class="login-page">
			<div class="container">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified">
				  <li class="{{#if formdata}}{{else}}active{{/if}}"><a href="#login" data-toggle="tab"><i class="fa fa-sign-in"></i> {{{__ "Login"}}}</a></li>
 					{{#if modules.register}}
				  		<li class="{{#if formdata}}active{{/if}}"><a href="#register" data-toggle="tab"><i class="fa fa-pencil"></i> {{{__ "Register"}}}</a></li>
 					{{/if}}
 					{{#if modules.contact}}				  
				  		<li><a href="#contact" data-toggle="tab"><i class="fa fa-envelope"></i> {{{__ "Contact"}}}</a></li>
					{{/if}}
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane fade {{#if formdata}}{{else}} active in {{/if}}" id="login">
					<!-- Login form -->
					<form role="form" method="post" action="/login">
					  <div class="form-group">
						<label for="email">{{{__ "Email"}}}</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="{{{__ 'Email'}}}">
					  </div>
					  <div class="form-group">
						<label for="password">{{{__ "Password"}}}</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="{{{__ 'Password'}}}">
					  </div>
					  <button type="submit" class="btn btn-danger btn-sm">{{{__ 'Submit'}}}</button>
					  <button type="reset" class="btn btn-black btn-sm">{{{__ 'Reset'}}}</button>
					</form>
				  </div>
				  {{#if modules.register}}
				  <div class="tab-pane {{#if formdata}} active in {{/if}} fade" id="register">
				  {{#if formdata}}

					<!-- Register form -->
					<form role="form" method="post" action="/register">	
					<input type="hidden" name="form" value="register">
					  <div class="form-group">
						<label for="name">{{{__ "Full Name"}}}</label>
						<input type="text" class="form-control" id="name" name="fullname" value="{{formdata.fullname}}" placeholder="{{{__ 'Full Name'}}}">
					  </div>
					  <div class="form-group">
						<label for="email">{{{__ "Email"}}}</label>
						<input type="text" class="form-control" id="email" name="email"  value="{{formdata.email}}" placeholder="{{{__ 'Email'}}}">
					  </div>
					  <div class="form-group">
						<label for="password1">{{{__ "Password"}}}</label>
						<input type="password" class="form-control" id="password1" name="password" placeholder="{{{__ 'Password'}}}">
						<br>
					  		<div class="col-sm-6">
                        	    <span id="password_8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "8 Characters Long"}}}<br>
                        	    <span id="password_ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Uppercase Letter"}}}
                        	</div>
                            <div class="col-sm-6">
                            	<span id="password_lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Lowercase Letter"}}}<br>
                            	<span id="password_num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Number"}}}<br>
					  			<br>
                            </div>
					  </div>
					  <div class="form-group">
						<label for="password2">{{{__ "Confirm Password"}}}</label>
						<input type="password" name="password2" class="form-control" id="password2" placeholder="{{{__ 'Confirm Password'}}}">
						<br>
						<div class="col-sm-12">
                            <span id="password_pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "Passwords Match"}}}<br>
                        </div>
					  </div>
					  <div class="checkbox">
						<br>
						<label>
						  <input type="checkbox" name="agreed"  value="{{formdata.agreed}}">{{{__ "Agree"}}}<a href="/terms"> {{{__ "Terms & Conditions"}}}</a>
						</label>
					  </div>
					  <button type="submit" class="btn btn-danger btn-sm">{{{__ "Submit"}}}</button>
					  <button type="reset" class="btn btn-black btn-sm">{{{__ "Reset"}}}</button>
					</form>
				  {{else}}
				  	<!-- Register form -->
					<form role="form" method="post" action="/register">
					<input type="hidden" name="form" value="register">
					  <div class="form-group">
						<label for="name">{{{__ "Full Name"}}}</label>
						<input type="text" class="form-control" id="name" name="fullname" placeholder="{{{__ 'Full Name'}}}">
					  </div>
					  <div class="form-group">
						<label for="email">{{{__ "Email"}}}</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="{{{__ 'Email'}}}">
					  </div>
					  <div class="form-group">
						<label for="password1">{{{__ "Password"}}}</label>
						<input type="password" class="form-control" id="password1" name="password" placeholder="{{{__ 'Password'}}}">
						<br>
					  		<div class="col-sm-6">
                        	    <span id="password_8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "8 Characters Long"}}}<br>
                        	    <span id="password_ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Uppercase Letter"}}}
                        	</div>
                            <div class="col-sm-6">
                            	<span id="password_lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Lowercase Letter"}}}<br>
                            	<span id="password_num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "One Number"}}}<br>
					  			<br>
                            </div>
					  </div>
					  <div class="form-group">
						<label for="password2">{{{__ "Confirm Password"}}}</label>
						<input type="password" name="password2" class="form-control" id="password2" placeholder="{{{__ 'Confirm Password'}}}">
						<br>
						<div class="col-sm-12">
                            <span id="password_pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> {{{__ "Passwords Match"}}}<br>
                        </div>
					  </div>
					  <div class="checkbox">
						<br>
						<label>
						  <input type="checkbox" name="agreed">{{{__ "Agree"}}}<a href="/terms"> {{{__ "Terms & Conditions"}}}</a>
						</label>
					  </div>
					  <button type="submit" class="btn btn-danger btn-sm">{{{__ "Submit"}}}</button>
					  <button type="reset" class="btn btn-black btn-sm">{{{__ "Reset"}}}</button>
					</form>
		 		  {{/if}}
		 
				  </div>
				  {{/if}}
				  {{#if modules.contact.active}}
				  <div class="tab-pane fade" id="contact">
					<!-- Contact Form -->
					<form role="form" id="mailForm" method="post" action="/contact">
					  <div class="form-group">
						<label for="name">{{{__ "Name"}}}</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="{{{__ 'Name'}}}">
					  </div>
					  <div class="form-group">
						<label for="email">{{{__ "Email"}}}</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="{{{__ 'Email'}}}">
					  </div>
					  <div class="form-group">
						<label for="message">{{{__ "Message"}}}</label>
						<textarea rows="3" class="form-control" name="body"></textarea>
					  </div>
					  <div class="form-group">
					  <label>
						   {{{__ "You can always check the"}}}<a href="/faq">{{{__ "FAQ page"}}}</a>
						</label>
					  </div>	
					  <button type="submit" class="btn btn-danger btn-sm">{{{__ "Submit"}}}</button>
					  <button type="reset" class="btn btn-black btn-sm">{{{__ "Reset"}}}</button>
					</form>
				  </div>
				  {{/if}}
				</div>
			</div>
		 </div>	
